.blockTable {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blockTable tr,td{
  border-collapse: collapse;
  border-bottom: 1px solid #e9e9e9;
}
.blockTable tr:hover{
  background-color: rgb(245, 245, 245);
}

.blockTable > tr {
  height: 50px;
}

.blockTable .col_one {
  width: 20%;
  text-indent: 1em;
}
.blockTable .col_two {
  width: 80%;
  text-align: right;
  text-indent: 1em;
  padding-right: 10px;
  font-size: 12px;
  word-wrap: break-word;
}
