@import "./styles/utils.less";
@import "./styles/animation.less";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.contentStyle {
  padding: "20px 80px";
  margin: '0 auto';
  max-width: "1360px";
  background: "#fff";
  width: '100%'
}
.ant-card-bordered{
  z-index: 99;
}
